{% extends 'index/base.html' %}
{% block title %}Adding form dependant{% endblock %}
{% block content %}

{% for msg in messages %}
{% if msg.tags == "error" %}
<div class="alert alert-danger" role="alert">
    {{msg}}
</div>
{%else%}
<div class="alert alert-{{ msg.tags }}" role="alert">
    {{msg}}
</div>
{% endif %}
{% endfor %}

<div>
    <form action="" method="POST" id='form'>
        {% csrf_token %}
        <div class="form-group col-md-4">
            <div class="d-flex justify-content-between align-items-center">
                <label for="selectclass" class="col-form-label">Class: </label>
                <!-- <a title="Add new class" class="btn btn-primary" style="color:white;"><i class="far fa-plus-square"></i></a> -->
            </div>
            <select name="selectclass" id="selectclass" class="form-select form-select-md mb-3">
                <option value="">---Select Class---</option>
                {% for item in classes %}
                <option value="{{ item.id }}"> {{ item.name }} </option>
                {% endfor %}
            </select>
        </div>
    </form>

    <form action="" method="POST" id='form2'>
        {% csrf_token %}
        <div class="form-group col-md-4">
            <div class="d-flex justify-content-between align-items-center">
                <label for="selectclass" class="col-form-label">Chapter: </label>
                <button title="Add new chapter" type="button" class="btn btn-primary d-none" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" id="new_chapter_btn">
                    <i class="far fa-plus-square"></i>
                </button>
            </div>
            <select name="selectchapters" id="selectchapters" class="form-select form-select-md mb-3">
                <option value="">---Select Class first---</option>
            </select>
        </div>
    </form>

    <form action="" method="POST" id='form3'>
        {% csrf_token %}
        <div class="form-group col-md-4">
            <div class="d-flex justify-content-between align-items-center">
                <label for="selectmodules" class="col-form-label">Module: </label>
                <button title="Add new module" type="button" class="btn btn-primary d-none" data-bs-toggle="modal"
                    data-bs-target="#exampleModal1" id="new_module_btn">
                    <i class="far fa-plus-square"></i>
                </button>
            </div>
            <select name="selectmodules" id="selectmodules" class="form-select form-select-md mb-3">
                <option value="">---Select chapter first---</option>
            </select>
        </div>
    </form>

    <form action="" method="POST" id="form4" class="d-none">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="name">Title</label>
            <input class="form-control" type="text" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="url">URL for the material</label>
            <input class="form-control" type="url" id="url" name="url" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new module</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'class:new_module' %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div id="new_module">
                        <input type="text" hidden>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="module_name">Module Name</label>
                        <input class="form-control" type="text" id="module_name" name="new_module" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="new_module_desc">Module description</label>
                        <textarea class="form-control" id="new_module_desc" name="new_module_desc"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new chapter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'class:new_chapter' %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- <select name="class_name_add" id="" class="form-select form-select-md mb-3" required>
                        <option value="">---Select Class---</option>
                        {% for item in classes %}
                        <option value="{{ item.id }}"> {{ item.name }} </option>
                        {% endfor %}
                    </select> -->
                    <div id="new_chapter">
                        <input type="text" hidden>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="chapter_name">Chapter Name</label>
                        <input class="form-control" type="text" id="chapter_name" name="new_chapter" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="new_chapter_desc">Chapter description</label>
                        <textarea class="form-control" id="new_chapter_desc" name="new_chapter_desc"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>





<script>
    $(document).ready(function () {
        $('#form').change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected = optionSelected.val();
            var class_name = optionSelected.text();
            let csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;
            url = "{% url 'class:getdetails' %}"

            const fd = new FormData()
            fd.append('class', class_name)
            fd.append('csrfmiddlewaretoken', csrf)

            $.ajax({
                type: 'POST',
                url: url,
                data: fd,
                cache: false,
                processData: false,
                contentType: false,
                success: function (success) {
                    console.log(success)
                    $("#form4").addClass("d-none");
                    $("#selectchapters option").remove();
                    $("#selectmodules option").remove();
                    $("#selectmodules").append(
                        '<option>---Select Chapter first---</option>')

                    if ($("#selectclass option:selected").val() == '') {
                        $("#selectchapters").append(
                            '<option>---Select Class first---</option>')
                        $('#new_chapter_btn').addClass('d-none')
                        $('#new_module_btn').addClass('d-none')
                    }
                    // if (success.length <= 0) {
                    //     $("#selectchapters").append(
                    //         '<option>---Select Class first---</option>')
                    // }
                    else {
                        $("#selectchapters").append('<option>Select Chapter</option>');
                        $('#new_chapter_btn').removeClass('d-none')

                    }
                    for (var i = success.length - 1; i >= 0; i--) {
                        $("#selectchapters").append('<option value=' + success[i].id + '>' +
                            success[i].name + '</option>');
                    };
                },
                fail: function (error) {
                    console.log(error)
                },
            })
        });
        $('#form2').change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected = optionSelected.val();
            var class_name = valueSelected;
            let csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;
            url = "{% url 'class:getdetails' %}"

            const fd = new FormData()
            fd.append('class', class_name)
            fd.append('csrfmiddlewaretoken', csrf)

            $.ajax({
                type: 'POST',
                url: url,
                data: fd,
                cache: false,
                processData: false,
                contentType: false,
                success: function (success) {
                    if ($("#selectchapters option")[0].text == 'Select Chapter') {
                        $("#selectchapters option")[0].remove();
                    }
                    $("#form4").addClass("d-none");
                    $("#selectmodules option").remove();
                    if ($("#selectchapters option:selected").val() == '') {
                        $("#selectmodules").append(
                            '<option>---Select Chapter first---</option>')
                        $('#new_module_btn').addClass('d-none')
                    } else {
                        $("#selectmodules").append('<option>Select module</option>');
                        $('#new_module_btn').removeClass('d-none')
                    }
                    for (var i = success.length - 1; i >= 0; i--) {
                        $("#selectmodules").append('<option value=' + success[i].id + '>' +
                            success[i].name + '</option>');
                    };
                },
                fail: function (error) {
                    console.log(error)
                },
            })
        });
        $('#form3').change(function () {
            if ($("#selectmodules option")[0].text == 'Select module') {
                $("#selectmodules option")[0].remove();
            }
            // var class_name = ($( "#selectclass option:selected" ).val())
            // var chapter = ($( "#selectchapters option:selected" ).val())
            // var module = ($( "#selectmodules option:selected" ).val())

            // $("#form4").append("<input type='number' value=" + class_name + " name='class_name' disabled hidden class='d-none'>")

            $("#form4").removeClass("d-none");
        });

        $('#form4').submit(function (e) {
            var class_name = ($("#selectclass option:selected").val())
            var chapter = ($("#selectchapters option:selected").val())
            var module = ($("#selectmodules option:selected").val())
            var name = ($("#name").val())
            var url_name = ($("#url").val())
            let csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;


            url = "{% url 'class:getdetails' %}"

            const fd = new FormData()
            fd.append('class_name', class_name)
            fd.append('chapter', chapter)
            fd.append('module', module)
            fd.append('name', name)
            fd.append('url_name', url_name)
            fd.append('csrfmiddlewaretoken', csrf)

            $.ajax({
                type: 'POST',
                url: url,
                data: fd,
                cache: false,
                processData: false,
                contentType: false,
                success: function (success) {
                    console.log(success)
                },
                fail: function (error) {
                    console.log(error)
                },
            })
        });
        $('#new_chapter_btn').click(function (e) {
            var class_name = ($("#selectclass option:selected").val())
            $('#new_chapter input').remove()
            $('#new_chapter').append("<input type='text' name='class_id_for_new_chapter' value=" +
                class_name + " hidden>")
        })
        $('#new_module_btn').click(function (e) {
            var chapter_name = ($("#selectchapters option:selected").val())
            $('#new_module input').remove()
            $('#new_module').append("<input type='text' name='chapter_id_for_new_module' value=" +
                chapter_name + " hidden>")
        })
    });
</script>
{% endblock %}