{% extends 'index/base.html' %}
{% load custom_tags %}
{% load humanize %}
{% block title %}Grades{% endblock %}
{% block content %}

{% for msg in messages %}
{% if msg.tags == "error" %}
<div class="alert alert-danger" role="alert">
    {{msg}}
</div>
{%else%}
<div class="alert alert-{{ msg.tags }}" role="alert">
    {{msg}}
</div>
{% endif %}
{% endfor %}


{% if grades == '' %}
No grades for that class Yet!
{% elif is_teacher %}
{{class_name}}
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Student</th>
            <th>Grade</th>
        </tr>
        </thead>
        {% for student, grade in grades.items %}
            <tr class='clickable-row' data-href="{% url 'class:student_grade' class_name student%}" style="cursor: pointer;">
                <td><span class="text-primary">{{ student }}</span></td>
                {% if grade == "" %}
                    <td>No grades yet</td>
                {% else %}
                    <td>{{ grade }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

{% else %}

<h3>{{ grades.className }}: {{grades.grade}}/{{ grades.number_of_total_grades }}</h3>
<br>
<div class="">
    <h4>Quizes</h4>
    <table class="table">
        <tr>
            <th>Quiz title</th>
            <th>Points scored</th>
            <th>Date submitted</th>
        </tr>
        {%for r in res%}
            <tr>
                <td>{{r.quiz.title}}</td>
                <td>{{r.score}}/{{ r.quiz.points }}</td>
                <td>{{r.submitted_date}}</td>
            </tr>
        {%endfor%}
        
    </table>
</div>
<hr>
<div class="">
    <h4>Assignments</h4>
    <table class="table">
        <tr>
            <th>Assignment title</th>
            <th>Points scored</th>
            <th>Date submitted</th>
        </tr>
        {%for sub_ass in submitted_ass%}
            <tr>
                <td>{{sub_ass.assignment.title}}</td>
                <td>{{sub_ass.grade}}/{{ sub_ass.assignment.points }}</td>
                <td>{{sub_ass.submitted_date}}</td>
            </tr>
        {%endfor%}
        
    </table>
</div>
{% endif %}


<script>
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>


{% endblock %}