{% extends 'index/base.html' %}
{% load custom_tags %}
{% load humanize %}
{% block title %}Enroll{% endblock %}
{% block content %}


<table class="table table-hover">
    <thead>
        <tr>
            <th>Class</th>
            <th>Teacher</th>
        </tr>
    </thead>
    <tbody>
    {% for class in classes_list %}
        <tr class='clickable-row' data-href="{% url 'class:enroll_class' class.name %}" style="cursor: pointer;">
            <td>{{ class.name }}</td>
            <td>{{ class.teacher }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>



<script>
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>

{% endblock %}