{% extends 'index/base.html' %}
{% block title %}Index{% endblock %}
{% block content %}

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
      role="tab" aria-controls="pills-home" aria-selected="true">Classes</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
      role="tab" aria-controls="pills-profile" aria-selected="false">Assignments</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button"
      role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <ul class="list-group list-group-flush">
      {% for class in classes %}
      <li class="list-group-item pl-0 border-1"> <a href="{% url 'class:class_info' class.name %}">{{ class }}</a> </li>
      <div class='border-1'> </div>
      {% endfor %}
      {% if is_teacher %}
<div class="w-100">
  <a href={% url 'class:add_new_mat' %} class="d-flex   btn btn-info my-2 justify-content-start"
    style="float: left;">Add
    new material</a>
</div>
{% endif %}
      
      <p class="mt-5">Schedule: </p>
      
      <table class="table">
        
        <tr>
        {% for key, value in sched.items %}
          <tr>
            <th>{{key}}</th>
            {% for val in value %}
            <td>
              {% for ke, v in val.items %}
              {{ke}}: {{v}}
              {% endfor %}
            </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      
      <!-- <p></p>
        
      {% for key, value in sched.items %}
      {{key}}:
      <br>
      {% for val in value %}

      {% for ke, v in val.items %}
      -{{ke}}: {{v}}
      <br>
      {% endfor %}
      {% endfor %}
      <br>

      {% endfor %} -->
    </ul>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    Congrats you have no assignments yet
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

    <table class="table">
    <caption style="caption-side: top">Contact your teachers</caption>
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">Teacher</th>
        <th scope="col">E-mail</th>
      </tr>
    </thead>
    <tbody>
    {% for class in classes %} 
      <tr>
        <td>{{class}}</td>
      {% if class.teacher.email  == 'noemail@email.com' %}
        <td>{{class.teacher}}</td>
        <td>(Cannot contact the teacher directly try wrinting your question in your class comments)</td>
      {% else %}
        <td><a href="mailto:{{class.teacher.email}}">{{class.teacher}}</td>
        <td>{{class.teacher.email}}</td>
      {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
    
  </div>
</div>



{% endblock %}