{% extends 'index/base.html' %}
{% load custom_tags %}
{% load humanize %}
{% block title %}{{ quiz.title }}{% endblock %}
{% block content %}

{% for msg in messages %}
{% if msg.tags == "error" %}
<div class="alert alert-danger" role="alert">
    {{msg}}
</div>
{%else%}
<div class="alert alert-{{ msg.tags }}" role="alert">
    {{msg}}
</div>
{% endif %}
{% endfor %}

<div class="row">
    <div class="fs-4 col">
        Title: {{quiz.title}}
    </div>
    <div class="col d-flex justify-content-end">
        max date: {{quiz.max_time_to_take}}
    </div>
</div>


 <br>
<table class="table">
    <tr>
        <th>Submitted by</th>
        <th>Score</th>
        <th>Submitted date</th>
    </tr>
    {% for sub in submitted %}
        <tr>
            <td>{{sub.user}}</td>
            <td>{{sub.score}}</td>
            <td>{{sub.submitted_date}}</td>
        </tr>
    {% endfor %}
</table>





{% endblock %}